.title{
    font-family: 'LTC Goudy Oldstyle Pro';
    fill: #161E18;
    font-size: 16px;
    font-weight: 600;
    line-height: 17.42px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


